/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.navbar-brand>img {
  max-height: 50px;
}

.home-carousel .dark-mask {
  background: #bb3838 !important;
}

.box-simple .icon {
  color: #bb3838;
  border-color: #bb3838;
}

#top {
  background: #333;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 1.25em;
}

.navbar-default {
  background: #bb3838;
  opacity: .9;
}

.header-wrapper {
   background: url('../img/mountain.png') center center repeat;
}